server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/your-username/eduhealth-config-repo
          default-label: main
          clone-on-start: true
          search-paths: '{application}'
